<div class="container-fluid">
	<div ng-controller="TagTraceListCtrl">
		<h2>List of tags associated to {{selectedglobaltagname}}</h2>
		<hr>
		<form novalidate class="form-horizontal">
		</div>
		<div class="form-group">
		<label class="col-sm-2 control-label" for="items">Items by page</label> 
		<div class="col-sm-4">
		<input name="items" id="items" type="number" ng-model="itemsByPage" /> 
		</div>
		</div>
		<div  class="form-group">
		<button class="btn" ng-click='goToMaps(selectedglobaltagname)'>
			<span class="glyphicon glyphicon-paperclip"></span>Mappings
		</button>
<!-- 		<button class="btn btn-sm" popover-placement="top" -->
<!-- 			popover="{{selectedglobaltagname}}" type="button"> -->
<!-- 			<i class="glyphicon glyphicon-link"></i> -->
<!-- 		</button> -->
<!-- 		<a ng-href="#/maps/{{selectedglobaltagname}}">Update Mappings</a> -->
		</div>
		</form>

		<hr>
		<table st-table="displayedTagsCollection"
			st-safe-src="selectedtracetags" class="table table-bordered table-striped"
			show-filter="true" export-csv="csv">
			<thead>
				<tr>
					<th st-sort="name">name</th>
					<th st-sort="insertionTime">insertion time</th>
					<th st-sort="modificationTime">modification time</th>
					<th st-sort="endOfvalidity">end of validity</th>
					<th st-sort="lastValidatedTime">last valid time</th>
					<th st-sort="description">description</th>
					<th st-sort="synchronization">synchronization</th>
					<th st-sort="objectType">object type</th>
					<th st-sort="timeType">time type</th>
				</tr>
				<tr>
					<th colspan="5"><input st-search="" class="form-control"
						placeholder="global search ..." type="text" /></th>
				</tr>
			</thead>
			<tbody>
				<tr st-select-row="atag" st-select-mode="single"
					ng-repeat="atag in displayedTagsCollection">
					<td data-title="'Name'">{{atag.name}}</td>
					<td data-title="'Insertion Time'">{{atag.insertionTime}}</td>
					<td data-title="'Modification Time'">{{atag.modificationTime}}</td>
					<td data-title="'End of Validity'">{{atag.endOfValidity}}</td>
					<td data-title="'Last Validated Time'">{{atag.lastValidatedTime}}</td>
					<td data-title="'Description'">{{atag.description}}</td>
					<td data-title="'Synchonization'">{{atag.synchronization}}</td>
					<td data-title="'Object Type'">{{atag.objectType}}</td>
					<td data-title="'Time Type'">{{atag.timeType}}</td>
					<td>
						<button class="btn btn-sm" popover-placement="top"
							popover="{{atag.name}}" type="button">
							<i class="glyphicon glyphicon-eye-open"></i>
						</button> <a ng-href="#/tags/{{atag.name}}/trace">backtrace</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage"
							st-displayed-pages="displayedPages"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

