/* app css stylesheet */
body {
/*    font-family: "Trebuchet MS", Verdana, sans-serif; */
    font-size: 12px;
    background-color: white; 
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

@media ( max-width : 991px) {
	body {
		margin-top: 400px;
	}
}

.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}
.st-selected {
  border-left:10px solid blue;
  color: #4f79ae;
}

#my-top {
	min-height: 140px;
	/* shouldn't be need when navbar-fixed-top is used properly*/
	padding-top: 10px;
}

#query-btn-row {
	padding-top: 25px;
}

#ch-multiselect {
	max-width: 300px;
	margin: auto;
}

#my-timer {
	font-size: 12px;
	text-align: right;
}

.my-selector {
	min-width: 150px;
}

.my-label {
	font-weight: bold;
}

.disabled {
	color: #aaa;
}

.disabled .form-control {
	background-color: #eee;
}

.disabled .input-group-addon {
	background-color: #eee;
	color: #aaa;
}

.select2-results {
	max-height: 500px;
}

.select2>.select2-choice.ui-select-match {
	/* Because of the inclusion of Bootstrap */
	height: 29px;
}

.selectize-control>.selectize-dropdown {
	top: 36px;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.angular-ui-tree-handle {
	background: #f8faff;
	border: 1px solid #dae2ea;
	color: #7c9eb2;
	padding: 6px 6px;
}

.angular-ui-tree-handle:hover {
	color: #438eb9;
	background: #f4f6f7;
	border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}