<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>PhysCondDB</display-name>

	<!-- - Location of the XML file that defines the root application context. 
		- Applied by ContextLoaderListener. -->
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/mvc-config.xml</param-value> 
		</context-param> -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/services-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- - Servlet that dispatches request to registered handlers (Controller 
		implementations). <servlet> <servlet-name>dispatcherServlet</servlet-name> 
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/cool-config.xml</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/web/cool-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>		
	</servlet>
	<!-- mapping of the servlet -->
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/cool/*</url-pattern>
	</servlet-mapping>

	<!-- - Servlet that dispatches request to repository handlers (Repository 
		implementations). -->
	<!-- This init is not working <init-param> <param-name>contextConfigLocation</param-name> 
		<param-value>/WEB-INF/mvc-config.xml</param-value> </init-param> -->
	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.data.rest.webmvc.RepositoryRestDispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>		
	</servlet>

	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/conddb/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>conddb-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/web/conddb-web-config.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<!-- mapping of the servlet -->
	<servlet-mapping>
		<servlet-name>conddb-web</servlet-name>
		<url-pattern>/conddbweb/*</url-pattern>
	</servlet-mapping>

</web-app>
