# coding: utf-8

"""
MapsApi.py
Copyright 2015 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class MapsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def list_global_tag_maps(self, by, map, **kwargs):
        """
        Finds all GlobalTagMaps
        Usage of url argument expand={true|false} in order to see full resource content or href links only

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_global_tag_maps(by, map, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str by: by (required)
        :param str map: map (required)
        :param int page: page: the page number {0}
        :param int size: size: the page size {1000}
        :param bool expand: expand {true|false} is for parameter expansion
        :return: SwaggerGlobalTagMapCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['by', 'map', 'page', 'size', 'expand']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_global_tag_maps" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'by' is set
        if ('by' not in params) or (params['by'] is None):
            raise ValueError("Missing the required parameter `by` when calling `list_global_tag_maps`")
        # verify the required parameter 'map' is set
        if ('map' not in params) or (params['map'] is None):
            raise ValueError("Missing the required parameter `map` when calling `list_global_tag_maps`")

        resource_path = '/maps'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'page' in params:
            query_params['page'] = params['page']
        if 'size' in params:
            query_params['size'] = params['size']
        if 'expand' in params:
            query_params['expand'] = params['expand']
        if 'by' in params:
            query_params['by'] = params['by']
        if 'map' in params:
            query_params['map'] = params['map']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='SwaggerGlobalTagMapCollection',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_global_tag_map_by_id(self, id, **kwargs):
        """
        Finds Tags to GlobalTag's mappings by id (integer)
        This is ment essentially for internal usage when finding dependencies

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_global_tag_map_by_id(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: id: id of the association (required)
        :return: GlobalTagMap
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_global_tag_map_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_global_tag_map_by_id`")

        resource_path = '/maps/{id}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='GlobalTagMap',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
