# coding: utf-8

"""
SystemsApi.py
Copyright 2015 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SystemsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def list_systems(self, by, **kwargs):
        """
        List Systems
        Provide the <by> parameter to filter the list using comma separated list of conditions. The syntax is : by=<param-name><operation><param-value>       <param-name> is the name of one of the fields returned in the output json       <operation> can be [< : >] ; for string use only [:]        <param-value> depends on the chosen parameter. Set the page number and page size parameters to use pagination.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_systems(by, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str by: by (required)
        :param int page: page: the page number {0}
        :param int size: size: the page size {1000}
        :return: SwaggerSystemsCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['by', 'page', 'size']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_systems" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'by' is set
        if ('by' not in params) or (params['by'] is None):
            raise ValueError("Missing the required parameter `by` when calling `list_systems`")

        resource_path = '/systems'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'page' in params:
            query_params['page'] = params['page']
        if 'size' in params:
            query_params['size'] = params['size']
        if 'by' in params:
            query_params['by'] = params['by']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='SwaggerSystemsCollection',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def find_system(self, tagname, **kwargs):
        """
        Find a system description using the tag name root.
        This method will search for a system with the given tag name root. Only one system should be returned.Set <trace> parameter to (de)activate tracing, i.e. the retrieval of the associated tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.find_system(tagname, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str tagname: tagname: root name of the tag associated to the system. (required)
        :param str trace: trace {off|on} allows to retrieve systems.
        :param bool expand: expand {true|false} is for parameter expansion
        :return: SystemDescription
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tagname', 'trace', 'expand']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method find_system" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'tagname' is set
        if ('tagname' not in params) or (params['tagname'] is None):
            raise ValueError("Missing the required parameter `tagname` when calling `find_system`")

        resource_path = '/systems/{tagname}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'tagname' in params:
            path_params['tagname'] = params['tagname']

        query_params = {}
        if 'trace' in params:
            query_params['trace'] = params['trace']
        if 'expand' in params:
            query_params['expand'] = params['expand']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='SystemDescription',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
